@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0000 -  600px:  Phone
0600 -  900px:  Tablet portrait
0900 - 1200px:  Tablet landscape
1200 - 1800px:  Is where our normal styles apply
1800 - x:       Big desktop
*/

// @mixin respond-phone {
//   @media (max-width: 600px) { @content };
// }

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

em are the best unit to use in media-queries.
1em = 16px    =>    600/16=37.5
*/
@mixin respond($breackpoint) {
  @if $breackpoint == phone {
    @media (max-width: 37.5em) { @content }; // 600px
  }

  @if $breackpoint == tab-port {
    @media (max-width: 56.25em) { @content }; // 900px
  }

  @if $breackpoint == tab-land {
    @media (max-width: 75em) { @content }; // 1200px
  }

  @if $breackpoint == big-desktop {
    @media (min-width: 112.5em) { @content }; // 1800px
  }
}
