.story {
  &__pictures {
    background-color: $color-primary;
    grid-column: full-start / col-end 4;
  }

  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;

    // padding: 6rem 12rem; // issues
    padding: 6rem 8vw; // Fix responsive issues the use of VIEWPORT UNIT

    // For this case, for aligning the content it would be better to use
    // FLEXBOX instead of CSS Grid or other solutions
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: flex-start;

    display: grid;
    align-content: center;
    justify-items: start;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}