.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  z-index: 3000;
  // display: none; // This can not be animated
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  // The following was not (maybe is still not) supported by Chrome
  // -webkit-backdrop-filter: blur(10px); // safari
  // backdrop-filter: blur(5px); // chrome
  
  // If a browser does not support a certain property, we may need to use the following
  // So IF NOT SUPPORTED, THEN NOT APPLIED
  @supports (-webkit-backdrop-filter: blur(10px))  or (backdrop-filter: blur(5px)) {
    -webkit-backdrop-filter: blur(10px); // safari - there are many options
    backdrop-filter: blur(10px); // chrome
    background-color: rgba($color-black, .3);
  }

  &__content {
    @include absCenter;

    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    // transform: scale(.5); // This itself is not going to work because it will already have a transform due to mixin, so we need.
    transform: translate(-50%, -50%) scale(.25);
    transition: all .5s .2s;
  }

  &__left {
    width: 33.333333%;
    // float: left;
    display: table-cell;
  }

  &__right {
    width: 66.666667%;
    // float: left;
    display: table-cell;
    // The following properties are used in tables
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem; // 1em = 14px because it is based on current font-size.
    column-rule: 1px solid $color-grey-light-2;

    // For doing this automatically there are tools like AUTOPREFIXER
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;

    // Hyphenetion
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; // For this we need to have defined the page language in the index HTML
  }

  // * OPEN STATES
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    // transform: scale(.5); // This itself is not going to work because it will already have a transform due to mixin, so we need.
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-gray-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}